{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}">
  <title>Портфолио Дяченко Богдан Ярославович</title>
</head>

<body>
  <div class="container">
    <div class="profile-picture">
      <img src="{{ profile_photo.image.url }}" alt="Profile Picture">
    </div>
    <div class="profile-description">
      <h1>Привет, меня зовут Дяченко Богдан Ярославович!</h1>
      <p>И я рад представить вам свое портфолио. В течение курса по Python я приобрел навыки, которые позволили мне развиться в различных областях веб-разработки. Вот немного о том, что я выучил:</p>
      <ol>
        <li><strong>HTML (HyperText Markup Language)</strong>: Я освоил создание структуры веб-страниц с помощью HTML, что позволяет мне строить информативные и структурированные веб-сайты.</li>
        <li><strong>CSS (Cascading Style Sheets)</strong>: Я изучил стилизацию веб-страниц с помощью CSS, что позволяет мне придавать им красивый и современный внешний вид.</li>
        <li><strong>Python</strong>: Я освоил программирование на Python, что позволяет мне создавать динамические и функциональные веб-приложения.</li>
        <li><em>Дополнительные навыки</em>: Я также познакомился с основами работы в Django, это мощный фреймворк для создания веб-приложений на Python. Также я изучил основы работы с базами данных и административным интерфейсом Django.</li>
      </ol>
      <p>Я готов применить свои знания и навыки для разработки интересных проектов и постоянно улучшать свои навыки в веб-разработке. Если у вас есть идеи или проекты, над которыми вы хотели бы работать вместе, не стесняйтесь связаться со мной. Буду рад новым вызовам и возможностям для сотрудничества!</p>
    </div>
  </div>
</body>
</html>